<% sorted = @posts.sort_by { |k| k["created_at"] } %>
<% sorted.reverse.each do |post| %>
  <% @post = post %>
  <% if @current_user.id == post.user_id %>
      <%= render 'posts/link' %>
    <% else %>
      <p> <%= simple_format(post.message) %> </p>
    <% end  %>
    <p> posted at: <%= post.created_at %></p>
    <%= form_for [post, post.comments.build] do |f| %>
      <div>
        <%= f.text_field :message, id: 'message', placeholder: 'Comment' %>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
    <% @comments.each do |comment| %>
      <% if post.id == comment.post_id %>
        <%= comment.message %></br>
        <% end %>
      <% end %>
  <% end %>
