<% sorted = @posts.sort_by { |k| k["created_at"] } %>
<% sorted.reverse.each do |post| %>
  <% @post = post %>
  <%= render 'posts/message' %>
  <%= render 'posts/timestamp' %>
    <%= form_for [post, post.comments.build] do |f| %>
      <div>
        <%= f.text_field :message, id: 'message', placeholder: 'Comment' %>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
    <% @comments.each do |comment| %>
      <% @comment = comment %>
      <% if post.id == comment.post_id %>
        <%= render 'comments/non_link' %>
        <% end %>
      <% end %>
  <% end %>
