<div class="container">

<img src="https://catbook-ada.herokuapp.com/assets/catbookheader-642d40e427d108d6ff920f899e0a624a1f1be155792f7b1d014852e8a82c1902.jpg" alt="Catbook Logo" class="logo">

<div>
  <%= notice %>
</div>

<div class="form">
<%= form_for @post do |form| %>
  <%= form.label :message %></br>
  <%= form.text_area :message, id: "message" %></br>
  <%= form.submit "Submit", id: "submit" %></br>
<% end %>
</div>